<div style="margin: 0 auto">
  <nav class="header">
    <a style="grid-column: 4/5;" class="link" href="http://localhost:8080">Cargar Producto</a>
    <a style="grid-column: 5/6;" class="link" href="http://localhost:8080/tabla">ver Tabla</a>
  </nav>
</div>
